<div class="meli-padding-30" >
    <p class="meli-txt-bold meli-txt-size18">Filtres de recherche</p>
    <form action="#" method="GET">
        <div class="">
            <div class="meli-start-start  meli-flex-column meli-margin-20 meli-width-100">
                <label for="type" class="meli-margin-bottom-10">Type</label>
                <select name="filters[type][]" id="type" class="js-select-M meli-width-100 selectType" multiple>
                    {% for t in filters["type"] %}
                        <option value="{{ t.id }}"
                                {%
                                    if app.request.get("filters")["type"] is defined
                                    and t.id in app.request.get("filters")["type"]
                                %}
                                    selected
                                {% endif %}
                        >{{ t.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="meli-start-start  meli-flex-column meli-margin-20 meli-width-100">
                <label for="breed" class="meli-margin-bottom-10">Race</label>
                <select name="filters[breed][]" id="breed" class="js-select-M meli-width-100 selectBreed" multiple>
                    {% for b in filters["breed"] %}
                        <option value="{{ b.id }}" data-type="{{ b.type.id }}"
                                {%
                                    if app.request.get("filters")["breed"] is defined
                                    and b.id in app.request.get("filters")["breed"]
                                %}
                                    selected
                                {% endif %}
                        >{{ b.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="meli-start-start  meli-flex-column meli-margin-20 meli-width-100">
                <label for="sorting" class="meli-margin-bottom-10">Trier par</label>
                <select name="sorting" id="sorting" class="meli-width-100 meli-padding-10 meli-border-radius5">
                    <option value="ASC"
                            {%
                                if app.request.get("sorting") is defined
                                and app.request.get("sorting") == "ASC"
                            %}
                                selected
                            {% endif %}
                    >Alphabétique</option>
                    <option value="DESC"
                            {%
                                if app.request.get("sorting") is defined
                                and app.request.get("sorting") == "DESC"
                            %}
                                selected
                            {% endif %}
                    >Désalphabétique</option>
                </select>
            </div>
            <div class="meli-start-center">
                <div class="meli-margin-20 meli-padding-top-15">
                    <button class="kit-btn">Filtrer</button>
                </div>
                <div class="meli-margin-20 meli-padding-top-15">
                    <a href="{{ path("animal_list") }}">
                        <button type="button" class="kit-btn">Réinitialier</button>
                    </a>
                </div>
            </div>

        </div>

    </form>
</div>