{% extends "base.html.twig" %}

{% block styles %}
    <link href="{{ asset("owlcarousel/owl.carousel.min.css") }}" rel="stylesheet" />
    <link href="{{ asset("owlcarousel/owl.theme.default.min.css") }}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ asset("owlcarousel/owl.carousel.min.js") }}"></script>
{% endblock %}

{% block content %}
    <section class="animal-read">
        <div class="meli-margin-20">
            <a href="{{ path("animal_list") }}"
               class="meli-txt-colorAction"
            >Retour à la recherche</a>
        </div>

        <h1 class="meli-txt-center meli-margin-bottom-50">{{ animal.name }} <br> {{ animal.age }}</h1>


        <div class="meli-around-start">
            {% include "front-office/animals/read/_text.html.twig" %}

            {% include "front-office/animals/read/_carousel.html.twig" %}

            </div>
        </div>

        <div class="meli-margin-top-50">
            {% include "partials/_cta_contact.html.twig" %}
        </div>







    </section>
{% endblock %}